body,
html {
  height: 100%;
  margin: 0;
  background: rgb(44, 47, 59);
  background: -webkit-linear-gradient(
    to right,
    rgb(40, 59, 34),
    rgb(54, 60, 70),
    rgb(32, 32, 43)
  );
  background: linear-gradient(
    to right,
    rgb(38, 51, 61),
    rgb(50, 55, 65),
    rgb(33, 33, 78)
  );
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
main {
  width: 100px;
  max-width: 700px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, background-color 0.3s ease;
  background: transparent; /* Matches background of the page */
  color: white; /* Text color to contrast with the background */
}

main:hover {
  transform: scale(1.05); /* Slight enlarge on hover */
  background: rgba(255, 255, 255, 0.1); /* Adds a subtle overlay effect */
}

.form-control {
  background: transparent; /* Input fields are also transparent */
  color: white; /* Text color for inputs */
  border: 1px solid white; /* Border for better visibility */
  width: 300px; /* Ensure full width inside the container */
  height: 60px; /* Increase height */
  font-size: 18px; /* Make the text larger */
  padding: 15px; /* Add more space inside the box */
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  color: white;
  box-shadow: none;
}
.form-check-label {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-right: 10px;
  font-weight: bold;
}
.form-check-input:checked + .form-check-label {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}
.form-check-input {
  display: none;
}

button {
  background: white;
  color: #3498db;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background: #2ecc71;
  color: white;
  transform: scale(1.1);
  .icon {
    width: 50px; /* Set the width of the icon */
    height: 50px; /* Set the height of the icon */
    border-radius: 50%; /* Make the image circular */
    overflow: hidden; /* Hide overflow for non-square images */
    border: 2px solid white; /* Add a border for emphasis */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
  }

  .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fits perfectly inside */
    justify-content: center;
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  .logo {
    display: block; /* Ensures the image behaves as a block-level element */
    margin: 0 auto; /* Centers the block element horizontally */
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}
